<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= blog.title %></title>
    <link  rel="stylesheet" href="/css/semantic.css">
    <link  rel="stylesheet" href="/css/style.css">
    <script src="/css/jquery-3.3.1.min.js"></script>
    <script src="/css/semantic.js"></script>
  </head>
  <body>
  <%- include('components/nav') %>
  <%- include('components/nav-setting') %>
  <%- include('components/notification') %>
